{% extends 'base.html' %} {% block content %}
<main class="main">
    <h2>main content</h2>
    <form action="/account/hello_world/" method="POST">
        {% csrf_token %}
        <input type="text" name="hello_world_input">
        <input type="submit" class="btn btn-primary" value="POST">
    </form>

     {% if hello_world_list %}
        {% for hello_world in hello_world_list %}
        <p>
            this is {{ hello_world.text }}
        </p>
        {% endfor %}
    {% endif %}
</main>
{% endblock %}
