/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #333;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

a {
  padding: 8px;
}

.main {
  height: 20rem;
  background-color: gray;
  border-radius: 1rem;
  margin: 1rem;
}

.default-btn,
.submit-btn,
.delete-btn,
.alert-btn,
.edit-btn {
  border: none;
  border-radius: 10px;
  font-size: 1.25rem;
  margin-top: 1rem;
  color: white;
  background-color: var(--default-color);
  /* width: 10rem; */
  padding: 8px;
  /* margin: 2rem calc(50% - 5rem) 2rem calc(50% - 5rem); */
  text-align: center;
}

.submit-btn {
  background-color: var(--line-color);
}

.delete-btn,
.alert-btn {
  background-color: var(--alert-color);
}

.edit-btn {
  background-color: var(--edit-color);
}

.submit-btn:hover,
.delete-btn:hover,
.alert-btn:hover,
.edit-btn:hover {
  transform: scale(1.1);
  opacity: 1;
}
