.common-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  margin: 1rem auto;
}

.header-menu li {
  font-size: 1rem;
  padding: 8px;
}
