.profile-create,
.profile-update {
  max-width: 500px;
  margin: 4rem auto;
  font-size: 1.2rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-create .title,
.profile-update .title {
  text-align: center;
  margin-bottom: 1rem;
}

.profile-create form label,
.profile-update form label {
  margin-top: 1rem;
  margin-bottom: 8px;
}
