.project-create,
.project-update,
.project-delete,
.project-detail {
  width: 80%;
  /* max-width: 500px; */
  margin: 4rem auto;
  font-size: 1.2rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-detail .project-list__img {
  height: 80%;
  width: 80%;
  object-fit: cover;
  border-radius: 1rem;
  margin: 1rem auto;
}

.project-detail__image {
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 50%;
  margin: 1rem auto;
}

.project-detail .project-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-create .title,
.project-update .title,
.project-delete .title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-create form label,
.project-update form label,
.project-delete form label {
  margin-top: 1rem;
  margin-bottom: 8px;
}
.project-list__img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.project-section,
.related-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
