{% load bootstrap4 %}

{% block content %}

    <div class="comment-create">
        <div class="title">
            <h4>Comment Create</h4>
        </div>

        {% if user.is_authenticated %}
        <form action="{% url 'commentapp:create' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="submit-btn">
            <input type="hidden" name="article_pk" value="{{ article.pk }}">
        </form>
        {% else %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="submit-btn">
            Login
        </a>
        {% endif %}
    </div>

{% endblock %}