{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
    {% if project_list %}
    <div class="wf-container">
        {% for project in project_list %}
            <div class="wf-box">
                <a href="{% url 'projectapp:detail' pk=project.pk %}">
                {% include 'snippets/card.html' with project=project %}
                </a>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div style="text-align:center">
        <h2>No project</h2>
    </div>
    {% endif %}

    {% include 'snippets/pagination.html' with page_obj=page_obj %}

     <div style="text-align:center">
         <a href="{% url 'projectapp:create' %}" class="btn btn-dark rounded-pill col-3 mt-3 mb-3">
             Create project
         </a>
     </div>
</section>
<!--<script src="{% static 'js/responsive_waterfall.js' %}"></script>-->
  
{% endblock %}