<header class="common-header">
    <div class="header-title">
        <h1>Pragmatic</h1>
    </div>
    <div>
        <ul class="header-menu">
            <li>
                <a href="{% url 'articleapp:list' %}">Articles</a>
            </li>
            <li>nav2</li>
            <li>nav3</li>
            {% if not user.is_authenticated %}
            <li><a href="{% url 'accountapp:login' %}?next={{ request.path }}">Login</a></li>
            <li><a href="{% url 'accountapp:create' %}">SignUp</a></li>
            {% else %}
            <li><a href="{% url 'accountapp:detail' pk=user.pk %}">Detail</a></li>
            <li><a href="{% url 'accountapp:logout' %}?next={{ request.path }}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</header>