<header style="display:flex; flex-direction:column; justify-content: center; align-items:center">
    <div>
        <h3>Pragmatic</h3>
    </div>
    <div>
        <ul style="display:flex; justify-content: center; align-items:center; list-style: none;">
            <li style="padding:1rem">
                <a href="{% url 'articleapp:list' %}">Articles</a>
            </li>
            <li style="padding:1rem">nav2</li>
            <li style="padding:1rem">nav3</li>
            {% if not user.is_authenticated %}
            <li style="padding:1rem"><a href="{% url 'accountapp:login' %}?next={{ request.path }}">Login</a></li>
            <li style="padding:1rem"><a href="{% url 'accountapp:create' %}">SignUp</a></li>
            {% else %}
            <li style="padding:1rem"><a href="{% url 'accountapp:detail' pk=user.pk %}">Detail</a></li>
            <li style="padding:1rem"><a href="{% url 'accountapp:logout' %}?next={{ request.path }}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</header>