{% extends 'base.html' %}
{% load static %}

{% block content %}
 <section>
    <div class="wf-container">
        <div class="wf-box">
            <img src="https://picsum.photos/200/300">
            <div class="content">
                <h3>Title</h3>
                <p>Content Here</p>    
            </div>
        </div>
        <div class="wf-box">
            <img src="https://picsum.photos/200/340">
            <div class="content">
                <h3>Title</h3>
                <p>Content aa asdfasdfjal</p>    
            </div>
        </div>
        <div class="wf-box">
            <img src="https://picsum.photos/200/260">
            <div class="content">
                <h3>Heading</h3>
                <p>Content aa asdfasdfjal</p>    
            </div>
        </div>
        <div class="wf-box">
            <img src="https://picsum.photos/200/400">
            <div class="content">
                <h3>Heading</h3>
                <p>Content aa asdfasdfjal</p>    
            </div>
        </div>
        <div class="wf-box">
            <img src="https://picsum.photos/200/510">
            <div class="content">
                <h3>Heading</h3>
                <p>Content aa asdfasdfjal</p>    
            </div>
        </div>
        <div class="wf-box">
            <img src="https://picsum.photos/200/300">
            <div class="content">
                <h3>Heading</h3>
                <p>Content aa asdfasdfjal</p>    
            </div>
        </div>
        <div class="wf-box">
            <img src="https://picsum.photos/200/200">
            <div class="content">
                <h3>Heading</h3>
                <p>Content aa asdfasdfjal</p>    
            </div>
        </div>
        <div class="wf-box">
            <img src="https://picsum.photos/200/270">
            <div class="content">
                <h3>Heading</h3>
                <p>Content aa asdf ljaljaljal</p>    
            </div>
        </div>
        <div class="wf-box">
            <img src="https://picsum.photos/200/330">
            <div class="content">
                <h3>Heading</h3>
                <p>Content aa asdfasdfjal</p>    
            </div>
        </div>
        <div class="wf-box">
            <img src="https://picsum.photos/200/410">
            <div class="content">
                <h3>Heading</h3>
                <p>Content aa asdfasdfjal</p>    
            </div>
        </div>
        <div class="wf-box">
            <img src="https://picsum.photos/200/450">
            <div class="content">
                <h3>Heading</h3>
                <p>Content aa asdfasdfjal</p>    
            </div>
        </div>
    </div>

     <div style="text-align:center">
         <a href="{% url 'articleapp:create' %}" class="btn btn-dark rounded-pill col-3 mt-3 mb-3">
             Create Article
         </a>
     </div>
</section>
<script src="{% static 'js/responsive_waterfall.js' %}"></script>
<!-- <script src="app.js"></script> -->
  
{% endblock %}